<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="notification">
            <h1 id="demo" class="title"></h1>
            <p>I am a web developer. My passion is building simple, beautiful user experiences.</p>
            <div class="terminal">
                <div class="terminal__header">

                    <div class="terminal__btn terminal__btn--green"></div>
                    <div class="terminal__btn terminal__btn--red"></div>
                    <div class="terminal__btn terminal__btn--yellow"></div>

                    <span class="terminal__header__center">
                        🏠 Patrik_Nilsson
                    </span>
                </div>
                <div class="terminal__window">
                    <p class="terminal__input-text">> contactInfo</p>
                    <p class="terminal__output-text">["patriknilsson1992@gmail.com", "Github", "Linkedin"]</p>
                    <p class="terminal__input-text">> resume</p>
                    <p class="terminal__output-text">patriknilsson.pdf</p>
                    <p class="terminal__input-text">> skills</p>
                    <p class="terminal__output-text">["JavaScript", "Node", "React", "Redux", "MySQL", "MongoDB", "Spring", "Sass"]</p>
                    <p class="terminal__input-text">> hoursOfCoding</p>
                    <p class="terminal__output-text terminal__output-text--error">Error Infinity</p>
                    <p class="terminal__input-text">>
                        <span class="terminal__blinking-cursor">&nbsp;</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>