

.project-img, .project-img img {
    height: 100%;
}

.features {
    padding-bottom: 2rem; 
}

.feature__item {
    line-height: 1.5rem;
}

.portfolio-links {
    padding: 0.6rem 0rem 1.5rem 1rem; 
}

.portfolio-link {
        padding-right: 2rem;
        &__icon {
            font-size: 2rem;
            padding-right: 1rem; 
            margin-bottom: 1rem; 
        } 
}


