

.project-img, .project-img img {
    height: 100%;
}

.features {
    padding-bottom: 2rem; 
}

.feature__item {
    line-height: 1.5rem;
}

.social-links {
    padding: 0.6rem 0rem 1.5rem 1rem
    
}

.social-link {
        padding-right: 2rem;
        &__icon {
            padding-right: 1rem; 
        } 
}


