.alert {
    border-radius: 5px;
    margin-top: -40px;
    max-width: 250px;
    padding: 12px;
    background-color: $success;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    position: fixed;
    top: 6.5rem;
    right: 2.5rem;
    z-index: 100;
    font-weight: bold;
    &--hidden {
        opacity: 0;
    }
    
}

.alert.danger {background-color: $danger;}
