
.carousel {
    height: 100%;
  }
  
  .carousel-cell {
    width: 100%;
  }

  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }

  @media (max-width:1025px) {
    .flickity-fullscreen-button {
      display: none;
    }
  }


  .carousel-cell-image {
    display: block;
    max-height: 100%;
  }


  .carousel.is-fullscreen .carousel-cell-image {
    height: 100%;
  }
  
  .flickity-page-dots {
      position: absolute;
      bottom: 25px; 
  }

  