.carosouel__img {
    width: 100%;
    height: 80%;
    padding-top: 0.2rem; 
    cursor: pointer;
}

.carosouel__main-img {
    width: 100%;
}

.carosouel__selected {
    border: 2px solid black;
    box-shadow: 5px 3px 30px black;
}
